<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css
    ">
    <title>Index</title>
</head>
<body>
    <div class="container m-2">
        <div class="card shadow p-2 mb-3">
            <h2 class="text-center text-primary">{{user.name}} </h2>
        </div>
        <table class="table-striped table-hover">
            <thead>
                <tr>
                    <th>User Id</th>
                    <th>Model</th>
                    <th>Make</th>
                    <th>Year</th>
                    <th>Color</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user.user_id}}</td>
                    <td>{{user.model}}</td>
                    <td>{{user.make}}</td>
                    <td>{{user.year}}</td>
                    <td>{{user.color}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="" class="btn btn-primary">Add User</a>
        <a href="" class="btn btn-warning">All Cars</a>
    </div>
</body>
</html>